<form action="#" style="display: none;"></form>
<div class="dialog-content">
	<h3>{{localize 'module-credits.dialog.export.title'}}</h3>
	<textarea id="{{DIALOG.ID}}-copy-export" readonly="" rows="10" style="background-color: #fff; white-space: pre;">{{activeModules}}</textarea>
</div>
<div class="dialog-buttons">
	<button class="dialog-button copy" data-button="copy">
		<i class="far fa-copy"></i> {{localize 'module-credits.dialog.export.buttons.copy'}}
	</button>
	<button class="dialog-button export" data-button="export">
		<i class="fas fa-download"></i> {{localize 'module-credits.dialog.export.buttons.export'}}
	</button>
</div>